*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    --primary-color:#e7e0ee;
    --color:#1f1f1f;

}
body{
  background: var(--primary-color);
  display: flex;
 justify-content: center;
 align-items: center;
 height: 100Vh;
 color: var(--color);
}
input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
    visibility: hidden;

}
.check{
    position: relative;
    display: block;
    width:40px;
    height: 20px;
    background: #1f1f1f;
    cursor: pointer;
    overflow: hidden;
    transition: all ease-out 0.5s;
    border-radius: 20px;
    width: 105px;
    height: 50px;

}
input[type="checkbox"]:checked ~ .check{
    background: #fff;
    box-shadow: 0 0 0 1200px #000000;
}
.check:before{
    content:'';
    position: absolute;
   top: 12px;
   left: 5px;
   width: 26px;
   height: 26px;
   border-radius: 50%;
   background:#fff;
   transition: 0.5s;

}
input[type="checkbox"]:checked ~ .check:before{
   transform: translateX(-50px);
}
.check:after{
    content:'';
    position: absolute;
   top: 12px;
   left: 70px;
   width: 26px;
   height: 26px;
   border-radius: 50%;
   background:#000000;
   transition: 0.5s;
   transform: translateX(50px);

}
input[type="checkbox"]:checked ~ .check:after{
    transform: translateX(0px);
 }